<h2>{{sender}}<span class="sent-you"> SENT YOU THIS EMAIL </span>{{subject}}</h2>
<hr>

<h4><span class="email-body">{{body}}</span></h4>



<hr>


{{#each response in responses}}
  <span class='response-responder'>{{response.responder}}</span>
  <br>
  <span class='response-re'>{{response.re}}</span>
  <br>
  <span class='response-responsething'>{{response.responsething}}</span>
{{/each}}


<div class="respond">
  <button this class='btn btn-xs btn-success' {{action "createResponse"}}>RESPOND TO YOURSELF!!!</button>
  {{outlet}}
</div>
