<h2>{{sender}}<span class="sent-you"> SENT YOU THIS EMAIL </span>{{subject}}</h2>
<hr>

<h4><span class="email-body">{{body}}</span></h4>



<hr>


{{#each response in responses}}
  <div class="responses">
    RESPONDER: <span class='response-responder'>{{response.responder}}</span>
    RE: <span class='response-re'>{{response.re}}</span>
    RESPONSE: <span class='response-responsething'>{{response.responsething}}</span>
  <br>
  </div>
{{/each}}


<div class="respond">
  <button this class='btn btn-xs btn-primary' {{action "createResponse"}}>RESPOND TO YOURSELF!!!</button>
  {{outlet}}
  <button class="btn btn-xs btn-danger" {{action 'deleteEmail'}}>DELETE THIS EMAIL!!!</button>
</div>
